SUBSYSTEM=="hidraw", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="e024", GROUP="plugdev", MODE="0660", TAG+="uaccess", SYMLINK+="wyzesense"


